<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Own Photos

    <a data-toggle="collapse" href="#user_own_photos_new_form">
      Add photo
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.own_photos.each do |photo| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/photos/<%= photo.id %>">
          <%= photo.caption %>
        </a>
        <!-- Show link end -->

      </li>
    <% end %>

  </ul>
</div>
