<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Sent Follow Requests

    <a data-toggle="collapse" href="#user_sent_follow_requests_new_form">
      Add follow request
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.sent_follow_requests.each do |follow_request| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/follow_requests/<%= follow_request.id %>">
          <%= follow_request.created_at %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
