<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Followers
  </div>

  <ul class="list-group list-group-flush">
    <% @user.followers.each do |user| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/users/<%= user.id %>">
          <%= user.username %>
        </a>
        <!-- Show link end -->

      </li>
    <% end %>

  </ul>
</div>
