<h1>
  Add a new comment
</h1>


<hr>

<form action="/create_comment" method="post">

  <div class="form-group">
    <label for="body">
      Body
    </label>

    <textarea id="body" name="body" class="form-control" rows="3"></textarea>
  </div>

  <input type="hidden" name="commenter_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="photo_id">
      Photo
    </label>

    <%= select_tag(:photo_id, options_from_collection_for_select(Photo.all, :id, :caption, @comment.photo_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create comment
  </button>
</form>

<hr>

<a href="/comments">
  Go back
</a>
