<form action="/create_like_from_photo" method="post">

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <input type="hidden" name="photo_id" value="<%= @photo.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create like
  </button>
</form>
