<!-- Form comment start -->
<form action="/create_comment_from_photo" method="post">
<!-- Form comment end -->

  <!-- Label and input for body start -->
  <div class="form-group">
    <label for="body">
      Body
    </label>

    <!-- Input for body start -->
    <textarea id="body" name="body" class="form-control" rows="3"><%= @comment.body %></textarea>
    <!-- Input for body end -->
  </div>
  <!-- Label and input for body end -->

  <!-- Label and input for commenter_id start -->
  <!-- Input for "commenter_id" start -->
  <input type="hidden" name="commenter_id" value="<%= current_user.id %>">
  <!-- Input for "commenter_id" end -->
  <!-- Label and input for commenter_id end -->

  <!-- Label and input for photo_id start -->
  <!-- Input for photo_id start -->
  <input type="hidden" name="photo_id" value="<%= @photo.id %>">
  <!-- Input for photo_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create comment
  </button>
</form>
