<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Likes

    <a data-toggle="collapse" href="#photo_likes_new_form">
      Add like
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @photo.likes.each do |like| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/likes/<%= like.id %>">
          <%= like.created_at %>
        </a>

        <%if current_user == like.user %>
          <a href="/delete_like_from_photo/<%= like.id %>">
            Delete
          </a>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="photo_likes_new_form">
        <%= render partial: "photo_templates/photo_likes_new_form" %>
      </div>
    </div>

  </ul>
</div>
