<form action="/create_comment_from_photo" method="post">

  <div class="form-group">
    <label for="body">
      Body
    </label>

    <textarea id="body" name="body" class="form-control" rows="3"><%= @comment.body %></textarea>
  </div>

  <input type="hidden" name="commenter_id" value="<%= current_user.id %>">

  <input type="hidden" name="photo_id" value="<%= @photo.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create comment
  </button>
</form>
