<h1>
  Add a new photo
</h1>


<hr>

<form action="/create_photo" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label for="caption">
      Caption
    </label>

    <input type="text" id="caption" name="caption" class="form-control">
  </div>

  <div class="form-group">
    <label for="image">
      Image
    </label>

    <input type="file" id="image" name="image" class="form-control">
  </div>

  <input type="hidden" name="owner_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="location">
      Location
    </label>

    <input type="text" id="location" name="location" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create photo
  </button>
</form>

<hr>

<a href="/photos">
  Go back
</a>
