<h1>
  Edit like #<%= @like.id %>
</h1>

<hr>

<form action="/update_like/<%= @like.id %>" method="post">


  <div class="form-group">
    <label for="photo_id">
      Photo
    </label>

    <%= select_tag(:photo_id, options_from_collection_for_select(Photo.all, :id, :caption, @like.photo_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update like
  </button>
</form>

<hr>

<a href="/likes">
  Go back
</a>
